@import "tailwindcss";

@theme {
  --font-sans: "Work Sans", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-primary-light: #e0e7ff;

  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;
  --color-danger-light: #fef2f2;

  --color-success: #22c55e;
  --color-success-hover: #16a34a;
  --color-success-light: #f0fdf4;

  --color-warning: #f59e0b;
  --color-warning-hover: #d97706;
  --color-warning-light: #fffbeb;

  --color-info: #3b82f6;
  --color-info-hover: #2563eb;
  --color-info-light: #eff6ff;
}
